<h1>All Events</h1>

<h3>Upcoming events</h3>
<table>
	<% @upcoming_events.each do |event| %>
		<tr>
			<td><strong><%= link_to "#{event.name}", event %></strong></td>
			<td> - Created by: <%= link_to "#{event.creater.name}", event.creater %></td>
			<td> - <%= event.place %></td>
			<td> - <%= event.date.strftime("%B %d, %Y") %></td>
		</tr>
	<% end %>
</table>

<h3>Past events</h3>
<table>
	<% @past_events.each do |event| %>
		<tr>
			<td><strong><%= link_to "#{event.name}", event %></strong></td>
			<td> - Created by: <%= link_to "#{event.creater.name}", event.creater %></td>
			<td> - <%= event.place %></td>
			<td> - <%= event.date.strftime("%B %d, %Y") %></td>
		</tr>
	<% end %>
</table>
