<h1>Create an event</h1>
<%= form_for(:event) do |f| %>
	<%= f.label :name %>
	<%= f.text_field :name %>

	<%= f.label :date %>
	<%= f.date_field :date %>

	<%= f.label :place %>
	<%= f.text_field :place %><br>

	<%= f.label :description %><br>
	<%= f.text_area :description %><br>

	<%= f.submit "Create event" %>
<% end %>
